<!DOCTYPE html>
<html>
<body>
<a href="https://www.etsy.com/oauth/connect?response_type=code&redirect_uri=http://localhost:3003/oauth/redirect&scope=email_r&client_id=2mix1guy02w1qdhdjakvglcg&state=superstring&code_challenge=NXjdZBVcNtXBtUzWHJVV8g-7Y-g3_jqiRpDxDAzp3Zw&code_challenge_method=S256">
    Authenticate with Etsy
</a>
</body>
</html>
